@charset "UTF-8";

html{
    height: 100%;
}

header{
    text-align: center;
    font-size: 20px;
    margin-top: 110px;
}

#container {
    text-align: center;
}

h2{
    color: #fff;
    font-size: 14px;

}

p,label,a{
    color: #fff;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.open{
    background: rgba(34,34,34,0.25);
    width: 190px;
    background-size: 200px ;
    padding: 5px 5px 25px 5px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
}

.register{
    background: rgba(34, 34, 34, 0.25);
    width: 200px;
    height: 330px;
    background-size: 250px auto;
    padding: 15px 0px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
}

.loginBack{
    margin-left: 20px;
}

.clear{
    background: rgba(34, 34, 34, 0.25);
    width: 230px;
    height: 170px;
    background-size: 250px auto;
    padding: 40px auto;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 10px;
}

.submit{
    background: #FF4F50;
    color: #fff;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    flex-direction: column;
    float: right;
    border-radius: 4px;
    padding: 7px;
}

button {
    /* 背景色を無色に */
    background: transparent;
    /* 枠線を消す */
    border: none;
    /* クリックした際に枠線をnone消す */
    outline: none;
    /* 影を消す */
    box-shadow: none;
}

.added1{
    font-size: 15px;
}

.added2{
    font-size: 13px;
    margin-top:25px;
}

.added3{
    font-size: 13px;
    margin-top: 5px;
}

.title{
    margin-top: 20px;
    font-size: 14px;
}

label{
    text-indent: -0.5em;
    padding-left: 0.5em;
    margin-top: 20px;
    margin-left: 24px;
    font-size: 13px;
    float: left;
}

a{
    margin-top: 65px;
    margin-left: 75px;
    font-size: 11px;
    white-space: nowrap;
}

input [type="input"] {
    box-shadow: none;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    text-indent: -0.5em;
    padding-left: 0.5em;
}

input[type="submit"]{
    box-shadow: none;
    background:#FF4F50;
    color: #fff;
    display: flex;
    margin: 0 auto;
    margin-top: 7px;
    margin-right: 23px;
    float: right;
    border-radius: 4px;
    padding: 6px;
    border-style: none;
}

body{
    height: 100%;
    background: linear-gradient(to bottom, #0066ff, #ffcc00);
}
