@charset "utf-8";
html{
}
/* ログイン画面 */

body{
    width: 100%;
    padding: none;
    margin-right: auto;
    margin-left: auto;
}
/* header */
header{
    background:#186AC9;
    height: 40px;
    padding: 15px;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}

#container{
    flex: 0 0 80%;
}

#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    height: 750px;
}

button{
    border-style: none;
    padding: unset;
}

#confirm{
    padding-top: 15px;
    padding-left: 10px;
}

.indexForm-group{
    padding-left: 20px;
    padding-top: 10px;
}

/* .post{
    border-bottom: 1px solid 40px #727272;
} */

.post_date{
    font-size: 11px;
    margin-right: 20px;
    height: 15px;
    float: right;
     margin-top: -48px;
}

.postBtn{
    float: right;
    background-color: #186AC9;
    margin-right: 120px;
    margin-top: -15px;
}

.editBtn,.trashBtn{
    float: right;
    background-color: #fff;
    margin-right: 10px;
    margin-top: -29px;
}

.editBtn{
    margin-right: 60px;
}

.trashBtn {
    margin-right: 25px;
}

.edit {
    background: #fff
}

.flex {
    display: flex;
    border-top: 1px solid #bbb;
    padding-left: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* サイドバー */
.followerCount{
    white-space: nowrap;
    margin-top: 50px;
}

.followCount{
    margin-top: 13px;
}

.followListBtn,.followerListBtn{
    background: #186AC9;
    border-radius: 4px;
    float: right;
    margin-top: 7px;
    padding: 3px 3px;
}

.userSearchBtn {
    background: #186AC9;
    margin-top: 50px;
    margin-left: 75px;
    border-radius: 4px;
    padding: 3px 18px 3px 18px;
}

/* 区切りの線 */
hr{
    border-width: 5px 0px 0px 0px; /* 太さ */
    border-style: solid; /*線種 */
    border-color: #DDD;
    height: 1px;
    margin-top: 40px;
}


/* アコーディオンメニュー */
.accordion-container {
    position: relative;
    margin: 0 0 0 auto;
    width: 100%;
    outline: 0;
    cursor: pointer;
    width: 255px;
    height: 60px;
    margin-right: -15px;
    margin-top: -33px;
}

.accordion-container .accordion-title {
    position: relative;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    background: #186AC9;

}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-container .content-entry.open .accordion-title {
    background-color: #186AC9;

}

.accordion-container .accordion-title:hover i:before,
.accordion-container .accordion-title:hover i:active,
.accordion-container .content-entry.open i {
    color: #000080;
}

.accordion-title {
    position: relative;
}

.accordion-title:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 45%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 10px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-right: 65px;
    margin-top: -15px;
}

.accordion-title.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
}

.accordion-content {
    display: none;
    background-color: #fff;
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* アコーディオンメニューの文字の色 */
.accordion-menu{
    color: #999;
    font-size: large;
    text-align: center;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
}

.accordion-menu a {
    text-align: center;
    display: flex;
    justify-content: center;
}

.accordion-menu:hover{
    color: #fff;
    background-color: #000080;
    text-align: center;
    display: flex;
    justify-content: center;
}

.dropdown{
    background-image: url("image.jpg");
    height: 45px;
    width: 65%;
    color: #fff;
}

.accordion-menu-name{
    margin-left:40px;
}

.icon {
    border-radius: 50%;
    margin-right: 5px;
}

.accordion-menu-icon{
    border-radius: 50%;
    margin-left: 190px;
    margin-top: -30px;
    margin-bottom: 10px;
}

/* 投稿編集のモーダルの中身 */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 15px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 30%;
}

.modal_post{
    height: 200px;
    width:650px;
    margin-left: 30px;
}

.modalEditBtn{
    margin-top: 180px;
    margin-right: 15px;
    float: right;
}

.form{
    padding-left: 55px;
}

.form-control{
    border: none;
    appearance: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 60%;
}

.form-control:focus {
    outline: 0;
}

.bottom_space {
    margin-bottom: 2.5em;
}


/* ユーザー検索 */
.search{
    display: flex;
    margin-top: 30px;
}

.userSearchList {
    text-indent: -0.5em;
    padding-left: 0.5em;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    margin-top: 30px;
    margin-left: 260px;
}

.search-wrapper{
    text-align: center;
    margin-top: 20px;
    text-indent: -0.5em;
    padding-left: 0.5em;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.userSearch{
    margin-left: 15px;
    padding: 9px;
    margin-top: 5px;
    padding-left: 0.5em;
    text-indent: -0.5em;
    white-space: nowrap;
}

input[type="search"]{
    margin-left: 40px;
    height: 32px;
    width: 230px;
}

.nameSearch{
    margin-left: 10px;
}

.alert-primary{
    float: right;
    padding-right: 70px;
}

.unFollowBtn{
   background: #F00;
   border-radius: 4px;
   padding: 3px 3px;
   display: block;
   margin-left: auto;
   margin-right: 250px;
}

.followBtn{
    background:#00bfff;
    border-radius: 4px;
    padding: 3px 3px;
    display: block;
    margin-left: auto;
    margin-right: 250px;
    white-space: nowrap;
}

a{
    color: #fff;
}

h1{
    margin-right: 40px;
}

/* プロフィール編集 */
.form-group {
    white-space: nowrap;
    padding-left: 0.5em;
    text-indent: -0.5em;
}

.profile-wrapper{
    margin-top: 40px;
    text-indent: -0.5em;
    padding-left: 0.5em;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.input{
    display: block;
    background-color: #EEE;
    color: #444;
    border-style: none;
    width: 250px;
}

.custom-file-input{
    text-align: center;
    margin-left: 50px;
    display: none;
}

.fileChoose{
    background-color: #fff;
    color: #727272;
    padding: 2px;
    margin-top: 10px;
    width: 65%;
    margin-left: 30px;
    text-align: center;
}

.file{
    padding: 10px 23px;
    background-color: #EEE;
    width: 210px;
    height: 45px;
}

.form-update{
    align-items: stretch;
    text-indent: -0.5em;
    padding-left: 0.5em;
    text-align: center;
    margin: 0 auto;
    width: 55%;
    margin-top: -10px;
}

.profile-container{
    text-align: center;
}

.profileIcon{
    border-radius: 50%;
    text-align: right;
    margin-left: -620px;
    margin-top: 7%;
    margin-bottom: -60px;
}

.update{
    background: #FF4F50;
    color: #fff;
    display: flex;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    flex-direction: column;
    border-radius: 4px;
    padding: 4px 35px;
}

/* 他ユーザーのプロフィール */
.otherProfileIcon{
    border-radius: 50%;
    margin-left: 30px;
    margin-bottom: -6px;
}

.otherProfile{
    padding-top: 30px;
    display: flex;
    flex-flow: column;
    height: 38px;
}

.profileContentName{
    display: flex;

}

.wrap1,.wrap2{
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-left: 80px;
    margin-bottom: 20px;
}

.wrap1{
    margin-top: -30px;
}

.otherProfileBio{
    justify-content: flex-start;
}

.otherProfileName {
    justify-content: flex-start;
}

.label,.profileContentName,.profileContentBio{
    display: flex;
    flex-flow: column;
    width: 120px;
    justify-content: flex-start;
}



.unFollowBtnOther {
    background: #F00;
    border-radius: 4px;
    padding: 3px 3px;
    float: right;
    margin-right: 20px;
    margin-top: -10px;
}

.followBtnOther {
    background: #00bfff;
    border-radius: 4px;
    padding: 3px 3px;
    float: right;
    margin-right: 20px;
    margin-top: -30px;
}
